@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  display: flex;
  height: 10svh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

#logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
}

header > nav > ul {
  display: flex;
}

header > nav > ul > li {
  list-style: none;
  padding: 0 18px;
}

header > nav > ul > li:last-child {
  list-style: none;
  padding-right: 0px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
}

#home {
  display: grid;
  padding: 0 3rem;
  width: 100%;
  max-width: 1500px;
  gap: 10% 20%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  height: 90svh;
  margin: auto;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  color: var(--primary-color);
  white-space: nowrap;
}

#home p {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1.2em;
}

.primary-btn {
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: 400;
  padding: 0.5em 0.8em;
  margin-top: 0.5em;
  letter-spacing: 0.03em;
  font-size: 1.6rem;
  color: var(--text-color);
}

.banner {
  width: 100%;
}

#home > section > img {
  width: 100%;
  max-width: 600px;
}

#about {
  display: grid;
  width: 90%;
  max-width: 1500px;
  gap: 10% 20%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  height: auto;
  min-height: 100svh;
  padding: 5svh 0;
  margin: auto;
}

.offered-services article p {
  width:90%;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

h3 {
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  padding: 0.5em 0;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  min-height: 100svh;
  padding: 5svh 0;
  text-align: center;
}

#menu .menu-items {
  color: var(--secondary-text-color);
  display: flex;
}

#menu .menu-items article {
  background-color: var(--secondary-background-color);
  padding: 5vh;
  margin: 0 1vw;
  text-align: center;
  position: relative;
}

.shopping-cart {
  position:absolute;
  background-color: var(--primary-color);
  top: 0%;
  right: 0%;
  width: 50px;
  border-radius: 0 0 0 50%;
}

h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

h5 {
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100svh;
  padding: 5svh 0;
  height: auto;
  text-align: center;
}

#services .offered-services {
  display: flex;
  justify-content: space-around;
}

#services .offered-services article{
  flex: 0 0 33%;
  max-width: 400px;
}

#services .offered-services article img {
  width: 300px;
}

#contact-banner {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
  padding: 4svh 0;
  margin: 10svh auto;
}

#contact-banner h3 {
  color: var(--secondary-text-color);
  text-align: center;
  padding: 1svh 0;
}

#contact {
  display:flex;
  justify-content: center;
  color: var(--text-color);
  padding-bottom: 5svh;
}

#contact nav {
  min-width: 15vw;
  flex: 0 0 200px;
  margin: 0 5vw;
}

#contact > nav > strong {
  font-size: 1.5rem;
  display: block;
  font-weight: 600;
  padding: 1rem 0;
  position: relative;
}

#contact > nav > strong:after{
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  bottom: 10%;
  left: 0%;
  border-bottom: 2.5px solid var(--primary-color);
}

#contact > nav > ul > li > a {
  color: var(--text-color);
  font-size: 1.25rem;
}

#social {
  display:flex;
}

.toggle {
  display: none;
}

#social img {
  width: 32px;
  padding-right: 4px;
}




@media (max-width: 1300px) {
  #home, #about, #menu, #services, #contact {
    padding: 5svh 6vw;
    margin: auto;
  }
  h1 {
    font-size: 4rem;
  }

  #menu {
    height: auto;
  }
  #menu .menu-items {
    flex-direction: column;
    row-gap: 5svh;
  }

  #about {
    padding: 0 5vw;
  }

  #services {
    padding: 0 2vw;
    height: auto;
  }

  #services .offered-services {
    flex-direction: column;
    row-gap: 5svh;
  }

  #contact {
    flex-wrap: wrap;
  }

}

@media (max-width: 900px) {
  header {
    padding: 20px 5%;
  }
  #services p {
    padding: 0.5em 1em;
  }

  h1 {
    font-size: 13vw;
  }

  #home p {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  #home > section > img {
    width:80vw;
    padding-top: 3svh;
  }

  #about img {
    max-width: 80vw;
    padding-top: 3svh;
  }

  #contact-banner {
    background-color: var(--secondary-background-color);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: auto;
    margin: auto;
  }

  #about {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
    min-height: auto;
  }
  
  .banner {
    text-align: center;
  }

  h3 {
    font-size: 2rem;
    padding: 3vh 0;
  }

  #contact-banner h3 {
    font-size: 1.4rem;
  }

  #menu .menu-items article {
    padding: 1svh 4vw;
    position: relative;
  }

  #menu .menu-items article img:first-child {
    width: 200px;
  }

  #menu .menu-items article a img {
    position:absolute;
    background-color: var(--primary-color);
    top: 0%;
    right: 0%;
    max-width: 30px;
  }

  #services .offered-services article img {
    width: 200px;
  }

  #contact {
    flex-direction: column;
    align-items: flex-start;
  }

  #contact > nav {
    padding-left: 10vw;
  }

  #contact > nav:last-child {
    padding-top: 5svh;
    padding-left: 0;
    text-align: center;
    margin:auto;
  }

  #logo {
    font-size: 1.5rem;
  }

  /* Toggle Menu Mobile */
  .toggle{
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    background: url(../storage/img/menu.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;
}

.toggle.active{
    position: fixed;
    right: 20px;
    background: url(../storage/img/close.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;
}

.navigation {
  display:none;
}

.navigation.active
{
    position: fixed;
    border-top: 10svh solid var(--background-color);
    top: 0svh;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 2svh;
    padding-bottom: 2svh;
    row-gap: 1.7em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    background: var(--mobile-background-color);
    z-index: 10;
}

.navigation.active li {
  padding: 0;
}

#logo.active {
  position:fixed;
  z-index: 11;
}

.navigation.active a {
  font-weight: 600;
  font-size: 1.2em;
}
  
}

@media(max-width:400px) {
  #services .offered-services article img {
    width: 50vw;
  }

  #menu .menu-items article img:first-child {
    width: 50vw;
  }

  .offered-services article p {
    margin:auto;
    width: 90%;
  }

  #contact > nav {
    padding-left: 5vw;
  }
}