@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  display: flex;
  height: 10svh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

#logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
}

header > nav > ul {
  display: flex;
}

header > nav > ul > li {
  list-style: none;
  padding: 0 18px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
}

#home {
  display: grid;
  padding: 0 3rem;
  width: 100%;
  max-width: 1500px;
  gap: 10% 20%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  height: 90svh;
  margin: auto;
}

h1 {
  font-size: 7rem;
  font-weight: 400;
  color: var(--primary-color);
  white-space: nowrap;
}

#home p {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1.2em;
}

.primary-btn {
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: 400;
  padding: 0.5em 0.8em;
  margin-top: 0.5em;
  letter-spacing: 0.03em;
  font-size: 1.6rem;
  color: var(--text-color);
}

.banner {
  width: 100%;
}

#home > section > img {
  width: 100%;
  max-width: 600px;
}

#about {
  display: grid;
  width: 90%;
  max-width: 1500px;
  gap: 10% 20%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  height: auto;
  min-height: 100svh;
  padding: 5svh 0;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

h3 {
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  padding: 0.5em 0;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  min-height: 100svh;
  padding: 5svh 0;
  text-align: center;
}

#menu .menu-items {
  color: var(--secondary-text-color);
  display: flex;
}

#menu .menu-items article {
  background-color: var(--secondary-background-color);
  padding: 5vh;
  margin: 0 1vw;
  text-align: center;
  position: relative;
}

h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

h5 {
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100svh;
  padding: 5svh 0;
  height: auto;
  text-align: center;
}

#services .offered-services {
  display: flex;
  justify-content: space-around;
}

#services .offered-services article{
  flex: 0 0 33%;
  width: 400px;
}

#services .offered-services article img {
  width: 300px;
}

#contact-banner {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
  padding: 4svh 0;
  margin: 10svh auto;
}

#contact-banner h3 {
  color: var(--secondary-text-color);
  text-align: center;
  padding: 1svh 0;
}

#contact {
  display:flex;
  justify-content: center;
  color: var(--text-color);
  padding-bottom: 5svh;
}

#contact nav {
  min-width: 15vw;
  flex: 0 0 200px;
  margin: 0 5vw;
}

#contact > nav > strong {
  font-size: 1.5rem;
  display: block;
  font-weight: 600;
  padding: 1rem 0;
  position: relative;
}

#contact > nav > strong:after{
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  bottom: 10%;
  left: 0%;
  border-bottom: 2.5px solid var(--primary-color);
}

#contact > nav > ul > li > a {
  color: var(--text-color);
  font-size: 1.25rem;
}

#social {
  display:flex;
}



@media (max-width: 1300px) {
  h1 {
    font-size: 5rem;
  }

  #menu {
    height: auto;
  }
  #menu .menu-items {
    flex-direction: column;
    row-gap: 5svh;
  }

  #about {
    padding: 0 5vw;
  }

  #services {
    padding: 5svh;
    height: auto;
  }

  #services .offered-services {
    flex-direction: column;
    row-gap: 5svh;
  }

  #contact {
    flex-wrap: wrap;
  }

}

@media (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  #home p {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  #home img, #about img {
    max-width: 90vw;
    padding-top: 3svh;
  }

  #contact-banner {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #home {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 3vw;
    height: auto;
    margin: auto;
  }

  #home > section > img {
    width: 90vw;
  }

  #about {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
    padding: 3vw;
    height: auto;
    text-align: center;
  }

  header > nav {
    display: none;
  }
  .banner {
    text-align: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
    padding: 3vh 0;
  }
}
