<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="toggle">
      <h1>CampusShop</h1>
      <div id="menu" onclick="toggleMenu()"></div>
      <ul class="navigation">
        <li><a href="../index.html"><i class='bx bx-store-alt'></i>Todos los productos</a></li>
        <li><a href="./coats.html"><i class='bx bx-cloud-rain'></i>Abrigos</a></li>
        <li><a href="./shirts.html"><i class='bx bxs-t-shirt'></i>Camisetas</a></li>
        <li><a href="./pants.html"><i class='bx bx-closet'></i>Pantalones</a></li>
        <li><a href="./cart.html"><i class='bx bx-cart'></i>Carrito</a></li>
      </ul>
    </header>
    <aside>
      <h1>CampusShop</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Todos los productos</a></li>
          <li><a href="./coats.html">Abrigos</a></li>
          <li><a href="./shirts.html">Camisetas</a></li>
          <li><a href="./pants.html">Pantalones</a></li>
          <li id="cart"><a href="./cart.html">Carrito</a></li>
        </ul>
      </nav>

      <footer>2023 Camper</footer>
    </aside>
    <main>
      <h2>Carrito</h2>
      <section class="cart-view">
        <article>
          <img
            src="https://underarmourcol.vtexassets.com/arquivos/ids/533820/1377317-638_RE9_1.png?v=638176882173270000"
            alt=""
          />
          <div>
            <h3>Artículo:</h3>
            <p>Pantalones 01</p>
          </div>
          <div>
            <h3>Cantidad:</h3>
            <p>2</p>
          </div>
          <div>
            <h3>Precio:</h3>
            <p>$ 2.000</p>
          </div>
          <div>
            <h3>Subtotal:</h3>
            <p>$ 4.000</p>
          </div>
          <i class='bx bx-trash'></i>
        </article>
        <article>
            <img
              src="https://underarmourcol.vtexassets.com/arquivos/ids/533820/1377317-638_RE9_1.png?v=638176882173270000"
              alt=""
            />
            <div>
              <h3>Artículo:</h3>
              <p>Abrigo 02</p>
            </div>
            <div>
              <h3>Cantidad:</h3>
              <p>1</p>
            </div>
            <div>
              <h3>Precio:</h3>
              <p>$ 1.500</p>
            </div>
            <div>
              <h3>Subtotal:</h3>
              <p>$ 1.500</p>
            </div>
            <i class='bx bx-trash'></i>
          </article>
          <article>
            <img
              src="https://underarmourcol.vtexassets.com/arquivos/ids/533820/1377317-638_RE9_1.png?v=638176882173270000"
              alt=""
            />
            <div>
              <h3>Artículo:</h3>
              <p>Camisetas 03</p>
            </div>
            <div>
              <h3>Cantidad:</h3>
              <p>2</p>
            </div>
            <div>
              <h3>Precio:</h3>
              <p>$ 2.000</p>
            </div>
            <div>
              <h3>Subtotal:</h3>
              <p>$ 4.000</p>
            </div>
            <i class='bx bx-trash'></i>
          </article>
          <div>
          <a>Vaciar carrito</a>
          <div id="confirm-payment">
            <p>Total:</p>
            <p>$ 9.500</p>
            <a>Comprar</a>
          </div>
        </div>
      </section>
    </main>
    <script src="../js/main.js"></script>
  </body>
</html>
