<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="toggle">
      <h1>CampusShop</h1>
      <div id="menu" onclick="toggleMenu()"></div>
      <i onclick="toggleDarkMode()" class='dark-mode-toggle bx bx-moon bx-tada'></i>
      <ul class="navigation">
        <li>
          <a href="./index.html"
            ><i class="bx bx-store-alt"></i>Todos los productos</a
          >
        </li>
        <li>
          <a href="./coats.html"
            ><i class="bx bx-cloud-rain"></i>Abrigos</a
          >
        </li>
        <li>
          <a href="./shirts.html"
            ><i class="bx bxs-t-shirt"></i>Camisetas</a
          >
        </li>
        <li>
          <a href="./pants.html"
            ><i class="bx bx-closet"></i>Pantalones</a
          >
        </li>
        <li>
          <a href="./cart.html"><i class="bx bx-cart"></i>Carrito<span class="cart-counter">3</span></a>
        </li>
      </ul>
    </header>
    <aside>
      <h1>CampusShop</h1>
      <nav>
        <ul>
            <li>
              <a href="../index.html"
                ><i class="bx bx-store-alt"></i>Todos los productos</a
              >
            </li>
            <li>
              <a href="./coats.html"
                ><i class="bx bx-cloud-rain"></i>Abrigos</a
              >
            </li>
            <li>
              <a href="./shirts.html"
                ><i class="bx bxs-t-shirt"></i>Camisetas</a
              >
            </li>
            <li>
              <a href="./pants.html"
                ><i class="bx bx-closet"></i>Pantalones</a
              >
            </li>
            <li id="cart">
                <a href="./cart.html"><i class="bx bx-cart"></i>Carrito<span class="cart-counter">3</span></a>
              </li>
          </ul>
      </nav>

      <footer>2023 Camper</footer>
    </aside>
    <main>
      <div class="header">
        <h2>Todos los productos</h2>
        <i onclick="toggleDarkMode()" class='dark-mode-toggle bx bx-moon bx-tada'></i>
      </div>
      <section>
        <article>
          <img
            src="https://geekhunters.com.co/cdn/shop/files/Handraw.jpg?v=1684468502&width=713"
            alt=""
          />
          <div>
            <h3>Camiseta 01</h3>
            <p>$ 1.500</p>
            <a href="">Agregar</a>
          </div>
        </article>
        <article>
          <img
            src="https://geekhunters.com.co/cdn/shop/products/ARIGATO.jpg?v=1687355466"
            alt=""
          />
          <div>
            <h3>Camiseta 02</h3>
            <p>$ 2.500</p>
            <a href="">Agregar</a>
          </div>
        </article>
        <article>
          <img
            src="https://geekhunters.com.co/cdn/shop/files/Morphy-Negra1.jpg?v=1704227193&width=713"
            alt=""
          />
          <div>
            <h3>Camiseta 03</h3>
            <p>$ 1.000</p>
            <a href="">Agregar</a>
          </div>
        </article>
        <article>
          <img
            src="https://geekhunters.com.co/cdn/shop/products/SCHRODINGER_2.jpg?v=1675915179&width=713"
            alt=""
          />
          <div>
            <h3>Camiseta 04</h3>
            <p>$ 1.500</p>
            <a href="">Agregar</a>
          </div>
        </article>
        <article>
          <img
            src="https://geekhunters.com.co/cdn/shop/products/HARDTECHNO1.jpg?v=1687326253&width=713"
            alt=""
          />
          <div>
            <h3>Camiseta 05</h3>
            <p>$ 2.000</p>
            <a href="">Agregar</a>
          </div>
        </article>
      </section>
    </main>
    <script src="../js/main.js"></script>
  </body>
</html>
